<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" (ngSubmit)="search()">
            <input type="text"
                   name="term"
                   class="form-control"
                   [(ngModel)]="term"
                   placeholder="Buscar pais">

        </form>
    </div>
</div>

<hr>

<div class="alert alert-danger">
    No se encontro nada relacionado
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <caption></caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bandera</th>
                <th scope="col">Nombre</th>
                <th scope="col">Población</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
